<a href="https://colab.research.google.com/github/lcbjrrr/lcbjrrr/blob/master/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print('Ola Mundo')

Ola Mundo

In [11]:
5 * 3 % 2 + 7 / 4 - 1

1.75

In [12]:
5 * 3 ** 2 + 7 * 4 + 1

74

In [13]:
(12+ 5*(3/2+(2**5 -13)/3))

51.166666666666664

In [14]:
x=1
y=2
s=x+y
print(s)

3

In [15]:
nota1 = 8
nota2 = 6
nota3 = 8.5
Media = (nota1+nota2+nota3)/3

In [16]:
nota1 = 9 # int
nota2 = 9.5 # float
nome = 'Luiz' # string
aprovado = (nota1 > 7) # bool

In [17]:
def somar(x,y):
  s =x+y
  return s

ss = somar(1,2)
print(ss)

3

In [18]:
salario_bruto = 4500
inss = 0.09
desconto_inss = salario_bruto * inss
salario_liquido = salario_bruto - desconto_inss

vale_transporte = salario_bruto * 0.02
salario_liquido = salario_bruto - desconto_inss - vale_transporte

print ("salario a receber:", salario_liquido)

salario a receber: 4005.0

In [19]:
def sal_liq(salario_bruto):
  inss = 0.09
  desconto_inss = salario_bruto * inss
  salario_liquido = salario_bruto - desconto_inss

  vale_transporte = salario_bruto * 0.02
  salario_liquido = salario_bruto - desconto_inss - vale_transporte

  return salario_liquido

sl = sal_liq(4500)
print(sl)

4005.0

In [20]:
def sal_liq(salario_bruto):
  inss = 0.09
  desconto_inss = salario_bruto * inss
  salario_liquido = salario_bruto - desconto_inss

  vale_transporte = salario_bruto * 0.02
  salario_liquido = salario_bruto - desconto_inss - vale_transporte

  return salario_liquido

sb = input('Qual o salario bruto?')
sb = float(sb)
sl = sal_liq(sb)
print(sl)

Qual o salario bruto?4500
4005.0

##EXERCICIOS

In [21]:
def imc(peso,altura):
    return peso/(altura*altura)

indice = imc(100,2)
print(indice)

25.0

In [22]:
def CtoF(c):
    f =c*9/5 + 32 
    return f
    
f = CtoF(40)
print(f)

104.0

In [23]:
def nota_final(n1,n2,n3):
    #calculo da nota final
    nf=(n1*2+n2*3+n3*4)/9
    return nf

nf = nota_final(9,7,8)
print("Nota final = ",nf)

Nota final =  7.888888888888889

In [24]:
#convertendo a temperatura para Celsius (ºC)
#°C = (°F − 32) / 1.8
#°F = °C × 1, 8 + 32
def F_C(f):
    c=(f-32)/1.8
    return c

F104 = 104 
c = F_C(F104) 
#Exibindo o resultado
print("A temperatura ",F104,"em Fahrenheit (ºF) equivale a ",c, " em Celsius (ºC)")

A temperatura  104 em Fahrenheit (ºF) equivale a  40.0  em Celsius (ºC)

In [25]:
def Mt_Pol(metros):
    #convertendo metros em polegadas
    pol = metros*39.37
    return pol

#Exibindo o resultado
mts2 = 2
pol = Mt_Pol(mts2)
print(f"{mts2:.2f} metros equivale a {pol:.2f} polegadas")

2.00 metros equivale a 78.74 polegadas

In [26]:
def BRL_to_Moeda(reais, cambio):
    return reais / cambio

reais100 = 100
am = BRL_to_Moeda(reais100,5.20) #dolar
eu = BRL_to_Moeda(reais100,6.10) #euro
chs = BRL_to_Moeda(reais100,1.7394329) # Renminbi 
chl = BRL_to_Moeda(reais100,0.005819) # peso
print('R$100 reais vale em Dolar',am)
print('R$100 reais vale em Euro',eu)
print('R$100 reais vale em Renminbi',chs)
print('R$100 reais vale em Peso',chl)

R$100 reais vale em Dolar 19.23076923076923
R$100 reais vale em Euro 16.393442622950822
R$100 reais vale em Renminbi 57.49000148266714
R$100 reais vale em Peso 17185.083347654236

In [27]:
def formas_pagto(reais):
    #formas de pagamentos
    avista = reais*0.95 #5% de desconto
    tresparcelas = reais/3 #3 parcelas iguais
    dezparcelas = reais*1.2/10 # 10x com acréscimo de 20% 
    return (avista,tresparcelas,dezparcelas)

reais100 = 100
(avista,tresparcelas,dezparcelas) = formas_pagto(reais100)
#Exibindo o resultado
print(f"Opções de pagamento para o produto no valor de {reais100:.2f} reais")
print(f"A vista no valor de {avista:.2f} reais")
print(f"3 x iguais de {tresparcelas:.2f} reais ")
print(f"10 x iguais de {dezparcelas:.2f} reais ")

Opções de pagamento para o produto no valor de 100.00 reais
A vista no valor de 95.00 reais
3 x iguais de 33.33 reais
10 x iguais de 12.00 reais