<a href="https://colab.research.google.com/github/lcbjrrr/lcbjrrr/blob/master/C%C3%B3pia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS7Kctxm5XlQ_ofIPaYJVwwxrJes1H0hQjU79f3XpCII6fNS2tAVybjg6t8otfYX0UPMsihYSdxSPl_/pub?output=csv')
data.head(1480)

        Datas         Estados Número de novos casos
0     26/fev.       São Paulo                     1
1     27/fev.       São Paulo                     1
2     28/fev.       São Paulo                     1
3      29/fev       São Paulo                     1
4     01/mar.       São Paulo                     1
...       ...             ...                   ...
1475  25/fev.  Espírito Santo                 1.413
1476  26/fev.  Espírito Santo                 1.183
1477  27/fev.  Espírito Santo                 1.089
1478  28/fev.  Espírito Santo                   990
1479  01/mar.  Espírito Santo                 1.210

[1480 rows x 3 columns]

In [ ]:
casos = pd.to_numeric(data['Número de novos casos'], errors='coerce')

In [ ]:
media = casos.mean()
print(media)

152.46312005649722

In [ ]:
min = casos.min()
print(min)

1.0

In [ ]:
max = casos.max()
print(max)

995.0